h1{
    color:black;
    font-family: 'Ariel', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;

}

.button {
    background-color:  #ff0000;
    border:none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
} 