body{
    margin: 0;
    padding: 0;
}

.gradient-background {
    background: linear-gradient(180deg, #47BDAA 0%, rgba(31, 68, 200, 0.72) 100%);
    /* Replace #ff0000 and #0000ff with your desired start and end colors */
    width: 100%;
    height: 100vh; /* 100% of the viewport height */
}


h1{
    color: #000;
    font-family: Inter;
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0%;
    left: 46%;
    box-sizing: border-box;

}

form{
    position: absolute;
    top: 20%;
    left: 55%;
}


.button {
    background-color: #F2C83F;
    border:none;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    position: absolute;
    top: 20%;
    left: 35%;
} 

#ingredient-list {
    display: flex;        /* Enable Flexbox */
    flex-wrap: wrap;      /* Allow wrapping of items */
    list-style: none;     /* Remove default list styling */
    color: black;
    font-family: 'Inter', sans-serif;  /* Ensure fallback font */
    font-size: 20px;
    font-weight: 100;
    line-height: normal;
    text-align: left;
    margin: 10px;
    padding: 0;           /* Remove default padding */
}

#ingredient-list li {
    margin-right: 15px;   /* Add some space between items */
    margin-bottom: 10px;  /* Space between rows when wrapped */
}


.custom-margin {
    margin-top: 20px;
  }

#recipeTitle-list{
    color: black;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    list-style: none;
    line-height: normal;
    text-align: left;
    margin: 10px;

}
      
#currentIN{
    color: black;
    font-family: Inter;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    
}

#top5{
    color: black;
    font-family: Inter;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 65%;
    
}

#recipeOp {
    position: absolute;
    top:45%;
    left:20%;
}

/* DELETE AT THE END: GRID */
.horizontal-line, .vertical-line {
    position: fixed;
    background-color:red;
  }
  
  .horizontal-line {
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
  }
  
  .vertical-line {
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%; /* Adjust the left position as needed */
  }

  /* SCREEN IS 1920 x 955 */
/* UP TO THIS POINT */