<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
     <link rel="stylesheet" href="./styles.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h1>MFOODS</h1>  
    <form>
        <input type="search" id="search-bar" name="fname" placeholder="Ingedients to search...">
        <button type="submit">Search</button>
    </form> 
    <div class="container" id="main-container">
      <!-- Titles will be displayed here -->
    </div>

    <div class="container" id="detail-container">
      <!-- Details will be displated here when a title is clicked -->
    </div>


    <div class="container">
        <div id="recipeOp"></div>
    </div>

    <!-- for testing -->
    <!-- <div id= "tabs">
        <ul>
         <li><a href="#tabs-1">Meal</a></li>
         <li><a href="#tabs-2">Ingredients</a></li>
         <li><a href="#tabs-3">Directions</a></li>
       </ul>
       <div id="tabs-1">
         <h3>H3 HEADER</h3>
         <img src="${image}" alt="Meal Image">
         
       </div>
       <div id ="tabs-2">   
        <h5>Ingredients:</h5>
       </div>
       <div id="tabs-3">
        <h4>${item.title}</h4>
        <p>${item.instructions}</p>
    </div> -->
    <!-- for testing -->

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="index.js"></script>

    <button class="button">upload</button>
  </body>
</html>